# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
edinet-explorer-env/

# PyInstaller
*.manifest
*.spec

# VS Code specific
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

